@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
ul,
.titlecase {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-blue-500 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
  }

  p {
    @apply text-base;
  }

  @layer utilities {
    .paused {
      animation-play-state: paused;
    }
  }
}

.text-stroke {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow:
    -1px -1px 0 rgb(157, 157, 157),
    1px -1px 0 rgb(134, 134, 134),
    -1px 1px 0 slategray,
    1px 1px 0 slategray;
}

img,
.noselect {
  user-select: none;
  -webkit-user-drag: none;
}
